@page "/Explore"
@using ConnectLocal.Front.Components.Layout
<div class="grid grid-cols-1 sm:grid-cols-12 mx-20">
    <div class="col-span-4">
        <DropDown/>
    </div>
    <div class="bg-orange-400 col-span-8"></div>

</div>


@code {
    
}