@page "/"

<PageTitle>Home</PageTitle>
<div class="mx-20">
    <div class="flex  flex-col justify-center  items-center">
        <h1 class="font-bold text-4xl mt-8 ">Discover Your Next Local Adventure</h1>
        <h1 class="font-semibold text-2xl mt-3 ">ConnectLocal helps you find unique experiences and hidden gems in your area. Whether you're looking for an outdoor adventure,</h1>
        <h1 class="font-semibold text-2xl ">a cultural experience, or a foodie hotspot, we've got you covered.</h1>
    </div>
    <section class="py-6 ">
       
            <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 sm:grid-cols-1 mx-20">
                <img class="object-cover w-full dark:bg-gray-500 aspect-square rounded" src="/res/img/kayaking.jpg">
                <img class="object-cover w-full dark:bg-gray-500 aspect-square rounded" src="/res/img/pexels-rafaelf1-1060803.jpg">
                <img class="object-cover w-full dark:bg-gray-500 aspect-square rounded" src="/res/img/culturedance.jpg">
            </div>
        
    </section>
    
</div>
    
